body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, tr, td, label {
    margin: 0px;
    padding: 0px;
}

a {
    color: #0059ff;
    text-decoration: none;
}

div, svg, label, select {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #ffffff;
    color: #222222;
    line-height: 1.7;
    margin-bottom: 50px;
}

h1, h2, h3, label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

p.author {
    color: #555;
}

p.table-legend {
    color: #555;
    font-size: 11px;
}

h1, h2, h3         { font-size: 36px; }
label              { font-size: 18px; }
p, li, .tr-head td { font-size: 16px; }
td                 { font-size: 14px; }

h1, h2, h3, label, p, li, .margined { margin-left: 20px; margin-right: 20px; }

h1, h2, h3       { margin-top: 30px; margin-bottom: 30px;}
p, li            { margin-top: 20px; margin-bottom: 20px;}
label            { margin-top: 5px; margin-bottom: 5px;}
.region-selector { margin-top: 5px; margin-bottom: 5px;}

table.table-growth {
    width: calc(100% - 40px);
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

tr {
    width: 100%;
}

@media screen and (max-width: 600px) {
    h1, h2, h3         { font-size: 24px; }
    label              { font-size: 14px; }
    p, li, .tr-head td { font-size: 12px; }
    td                 { font-size: 11px; }

    h1, h2, h3, p, li, label, .margined { margin-left: 10px; margin-right: 10px; }
    table.table-growth                  { width: calc(100% - 20px) }

    h1, h2, h3 { margin-top: 20px; margin-bottom: 20px; }
}

.td-date        { width: 20%; }
.td-totaldeaths { width: 20%; }
.td-growthrate  { width: 20%; }
.td-growthcalc  { width: 30%; }

/*
@media screen and (max-width: 600px) {
    .td-date        { width: 25%; }
    .td-totaldeaths { width: 25%; }
    .td-growthrate  { width: 25%; }
    .td-growthcalc  { width: 25%; }
}
*/

.td-growthcalc {
    color: #555;
    font-size: 10px;
}

.table-growth td { text-align: left; }
.table-growth td.td-growthcalc  { text-align: left; }

.table-growth td             { padding: 5px 0px;}
.table-growth td:first-child { padding-left: 5px; }
.table-growth td:last-child  { padding-right: 5px; }

.tr-current .td-name {
    text-align: right;
    padding-right: 10px;
}

.table-growth .tr-head td { vertical-align: bottom; }
.table-growth td          { vertical-align: top; }

.table-growth .tr-head td {
    background-color: #eaedf5;
}

br.break-at-small-sizes {
    display: none;
}

@media screen and (max-width: 600px) {
    br.break-at-small-sizes {
        display: block;
    }
}

.region-selector {
    display: block;
}

.region-selector td {
    vertical-align: middle;
}

.region-color {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 20px;
}

.region-color line {
    fill: none;
    stroke-width: 2px;
}

.region-select {
    display: inline-block;
    height: 25px;
}

.sync-selector label, .sync-selector input, .sync-selector p {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.sync-selector label {
    margin-right: 20px;
}

.sync-selector input {
    width: 60px;
}

.date-selector {

}

.date-selector label, .date-selector input {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .date-selector label {
        width: 50px;
        text-align: right;
    }
}

.date-selector input[type="date"]::-webkit-clear-button {
    display: none;
}

.category-selector {

}

.category-selector label, .category-selector input {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
}

.text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.graph {
    margin: 0px;
    padding: 0px;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.daily-cases-lines .line {
    stroke-dasharray: 2 4;
    stroke-width: 2px;
}

.daily-deaths-lines .line {
    stroke-width: 2px;
}

.total-cases-lines .line {
    stroke-dasharray: 4 8;
    stroke-width: 3px;
}

.total-deaths-lines .line {
    stroke-width: 3px;
}

.line-0 { stroke: #ff4343; }
.line-1 { stroke: #437fff; }
.line-2 { stroke: #488638; }
.line-3 { stroke: #61a5a4; }
.line-4 { stroke: #e23df9; }
.line-5 { stroke: #fa0d1d; }
.line-6 { stroke: #c6a1bb; }
.line-7 { stroke: #d6c51c; }
.line-8 { stroke: #28985f; }
.line-9 { stroke: #5acb89; }
.line-10 { stroke: #b5026c; }
.line-11 { stroke: #c8dab4; }
.line-12 { stroke: #1e1dd5; }
.line-13 { stroke: #f287a6; }
.line-14 { stroke: #ec40f2; }
.line-15 { stroke: #ed2f0f; }
