body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, tr, td, label {
    margin: 0px;
    padding: 0px;
}

a {
    color: #0059ff;
    text-decoration: none;
}

div, svg, label, select {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #ffffff;
    color: #222222;
    line-height: 1.7;
    margin-bottom: 50px;
}

h1, h2, h3, label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

p.author {
    color: #555;
}

p.table-legend {
    color: #555;
    font-size: 11px;
}

h1, h2, h3         { font-size: 36px; }
label              { font-size: 18px; }
p, li, .tr-head td { font-size: 16px; }
td                 { font-size: 14px; }

h1, h2, h3, label, p, li, select/*, table*/ { margin-left: 20px; margin-right: 20px; }

h1, h2, h3    { margin-top: 30px; margin-bottom: 30px;}
p, li         { margin-top: 20px; margin-bottom: 20px;}
label, select { margin-top: 10px; margin-bottom: 10px;}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

tr {
    width: 100%;
}

@media screen and (max-width: 600px) {
    h1, h2, h3         { font-size: 24px; }
    label              { font-size: 14px; }
    p, li, .tr-head td { font-size: 12px; }
    td                 { font-size: 11px; }

    h1, h2, h3, p, li, label, select { margin-left: 10px; margin-right: 10px; }
    table                            { width: calc(100% - 20px) }

    h1, h2, h3 { margin-top: 20px; margin-bottom: 20px; }
}

.td-date        { width: 20%; }
.td-totaldeaths { width: 20%; }
.td-growthrate  { width: 20%; }
.td-growthcalc  { width: 30%; }

/*
@media screen and (max-width: 600px) {
    .td-date        { width: 25%; }
    .td-totaldeaths { width: 25%; }
    .td-growthrate  { width: 25%; }
    .td-growthcalc  { width: 25%; }
}
*/

.td-growthcalc {
    color: #555;
    font-size: 10px;
}

td { text-align: left; }
td.td-growthcalc  { text-align: left; }

td             { padding: 5px 0px;}
td:first-child { padding-left: 5px; }
td:last-child  { padding-right: 5px; }

.tr-current .td-name {
    text-align: right;
    padding-right: 10px;
}

.tr-head td { vertical-align: bottom; }
td          { vertical-align: top; }

.tr-head td {
    background-color: #eaedf5;
}

.tr-head td.td-growthcalc {
    background: none;
}

br.break-at-small-sizes {
    display: none;
}

@media screen and (max-width: 600px) {
    br.break-at-small-sizes {
        display: block;
    }
}

.text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.graph {
    margin: 0px;
    padding: 0px;
}

path.line {
    fill: none;
}

path.line-0 { stroke: #ff4343; }
path.line-1 { stroke: #437fff; }
path.line-2 { stroke: #488638; }
path.line-3 { stroke: #61a5a4; }
path.line-4 { stroke: #e23df9; }
path.line-5 { stroke: #fa0d1d; }
path.line-6 { stroke: #c6a1bb; }
path.line-7 { stroke: #d6c51c; }
path.line-8 { stroke: #28985f; }
path.line-9 { stroke: #5acb89; }
path.line-10 { stroke: #b5026c; }
path.line-11 { stroke: #c8dab4; }
path.line-12 { stroke: #1e1dd5; }
path.line-13 { stroke: #f287a6; }
path.line-14 { stroke: #ec40f2; }
path.line-15 { stroke: #ed2f0f; }
